@import url("./design-style.css");
@import url("./text-style.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/font/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  width: 100%;
  height: 488px;
  padding: 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .left-img {
    width: 394px;
    height: 303px;
    position: absolute;
    left: -2%;
  }

  .right-img {
    width: 394px;
    height: 303px;
    position: absolute;
    right: -2%;
    bottom: 15%;
  }

  .hero-container {
    max-width: 448.3px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-title {
      max-width: 448.3px;
      height: 140px;
      text-align: center;
      margin-bottom: 2rem;
      color: var(--state-900);
    }
    .hero-text {
      max-width: 448.3px;
      height: 54px;
      text-align: center;
      margin-bottom: 2rem;
      color: var(--state-600);
    }
    .hero-buttons {
      max-width: 371px;
      height: 56px;
      display: flex;
      gap: 17px;

      .download-btn {
        width: 193px;
        height: 56px;
        background-color: var(--cyan-600);
        color: var(--white);
        border: none;
        border-radius: 29px;
        cursor: pointer;

        &:hover {
          background-color: #71c0d4;
        }

        span {
          opacity: 0.7;
        }
      }

      .question-btn {
        width: 161px;
        height: 56px;
        background-color: var(--purple-600);
        color: var(--white);
        border: none;
        border-radius: 29px;
        cursor: pointer;

        &:hover {
          background-color: #b18bdd;
        }
      }
    }
  }
}

.features-section {
  width: 100%;
  height: 883px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .features-content {
    max-width: 1120px;
    height: 755px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-marker {
    width: 56px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-line {
      width: 1px;
      height: 80px;
      border: 1px var(--state-300) solid;
    }

    &-circle {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px var(--state-300) solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .picture-section {
    width: 100%;
    margin: var(--spacing-800) 0px;

    img {
      width: 252px;
      height: 252px;
      border-radius: 8px;
    }
    img:nth-child(1),
    img:nth-child(2),
    img:nth-child(3) {
      margin-right: var(--spacing-400);
    }
  }

  .features-description {
    max-width: 544px;
    height: 235px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    .heading-container {
      max-width: 445px;
      height: 122px;
    }
    h3 {
      margin-bottom: var(--spacing-200);
      color: var(--cyan-600);
      text-transform: uppercase;
    }
    p {
      margin-top: var(--spacing-200);
      color: var(--state-600);
      font-weight: 200;
      line-height: 1.5;
    }
  }
}

.experience-section {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .footer-wrapper {
    width: 100%;
    height: 312px;
    position: absolute;
    bottom: 0;
    z-index: -2;
    background-color: var(--cyan-600);

    img {
      opacity: 0.1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .section-marker {
    position: absolute;
    top: 0;
    width: 56px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-line {
      width: 1px;
      height: 80px;
      border: 1px var(--state-300) solid;
    }

    &-circle {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px var(--state-300) solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }
  }

  &-text-content {
    margin-top: var(--spacing-1400);
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    height: 88px;

    .slogan {
      width: 445px;
      height: 88px;
      color: var(--white);
      margin-right: var(--spacing-400);
    }

    p {
      width: 355px;
      height: 81px;
      color: var(--white);
      margin-right: var(--spacing-400);
      font-weight: 400;
    }

    .btn-container {
      width: 256px;
      height: 56px;
      display: flex;
      flex-direction: row-reverse;

      .download-btn {
        width: 193px;
        height: 56px;
        background-color: var(--purple-600);
        color: var(--white);
        border: none;
        border-radius: 29px;

        &:hover {
          background-color: #b18bdd;
        }

        span {
          color: var(--purple-300);
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .hero-section {
    width: 768px;
    height: 761px;
    padding: 1rem 0rem;

    .left-img {
      left: -4%;
    }

    .right-img {
      top: 2%;
      right: -4%;
    }

    .hero-container {
      position: absolute;
      bottom: 10%;
      height: 258px;

      .hero-title {
        height: 106px;
      }
      .hero-text {
        margin: var(--spacing-300) 0px;
        height: 48px;
      }
    }
  }

  .features-section {
    width: 768px;
    height: 759px;

    .features-content {
      max-width: 680px;
    }

    .picture-section {
      width: 100%;
      margin: var(--spacing-800) 0px;

      img {
        width: 152px;
        height: 160px;
        border-radius: 8px;
      }
      img:nth-child(1),
      img:nth-child(2),
      img:nth-child(3) {
        margin-right: var(--spacing-200);
      }
    }

    .features-description {
      max-width: 504px;
      height: 215px;

      .heading-container {
        height: 111px;
      }
      h3 {
        font-size: 80%;
      }
      p {
        margin-top: var(--spacing-400);
        font-size: 0.875rem;
      }
    }
  }

  .experience-section {
    width: 768px;
    height: 428px;
    position: relative;

    .footer-wrapper {
      width: 100%;
      height: 320px;
      position: absolute;
    }

    &-text-content {
      margin-top: var(--spacing-1400);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 504px;
      height: 192px;

      .slogan {
        width: 100%;
        font-size: 2rem;
        margin-right: 0px;
      }

      p {
        margin-right: 0px;
        font-weight: 200;
        font-size: 0.9rem;
      }

      .btn-container {
        width: 256px;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .hero-section {
    width: 375px;
    height: 640px;
    padding: 0rem;

    .left-img {
      width: 208.05px;
      height: 160px;
      left: -8%;
    }

    .right-img {
      width: 208.05px;
      height: 160px;
      top: 2%;
      right: -7%;
    }

    .hero-container {
      width: 305px;
      height: 336px;
      justify-content: unset;
      align-items: center;

      .hero-title {
        font-size: 50%;
        height: 88px;
        margin-bottom: 0rem;
      }

      h1 {
        font-size: 2.75rem;
      }
      .hero-text {
        margin: var(--spacing-300) 0px;
        height: 72px;
      }

      .hero-buttons {
        width: 193px;
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .features-section {
    width: 375px;
    height: 915px;

    .features-content {
      max-width: 100%;
    }

    .picture-section {
      width: 100%;
      margin: var(--spacing-800) 0px;
      margin-left: var(--spacing-400);
      display: flex;
      flex-wrap: wrap;

      img {
        width: 152px;
        height: 160px;
        border-radius: 8px;
        margin: var(--spacing-100);
      }
    }

    .features-description {
      max-width: 100%;
      height: 215px;
      padding: 0 var(--spacing-400);

      .heading-container {
        height: 111px;
      }
      h3 {
        font-size: 80%;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }

  .experience-section {
    margin-top: var(--spacing-800);
    width: 375px;
    height: 428px;
    position: relative;

    .footer-wrapper {
      width: 100%;
      height: 320px;
      position: absolute;
    }

    &-text-content {
      margin-left: var(--spacing-400);
      margin-right: var(--spacing-400);
      padding-top: var(--spacing-400);
      max-width: 100%;
      height: 246px;

      .slogan {
        width: 100%;
        font-size: 2rem;
        margin-right: 0px;
      }

      p {
        margin-top: var(--spacing-200);
        font-size: 0.975rem;
      }
    }
  }
}
